body {
	font: 100%/1.5 "Tahoma", Geneva, sans-serif;
	max-width: 960px;
	margin: auto;
	background-image: url(../images/taxi%20backgroungcolor1.jpg);
	background-repeat: repeat;
	text-align: center;
	font-size: 16px;
}
#wrapper {
	width: 100%; /*960px*/
	text-align: left;
	margin: 0 auto;
}
section {
	margin-left: 1.1111111%; /*10px/900px*/ 
}
h1 {
	color: #0CA0DE;
	font-style: oblique;
	text-align: center;
	font-size: 2.25em; /*36px*/
	text-shadow: 3px 3px #000;
	}
h2 {
	text-align: center;
	color: #1AB263;
	font-size: 1.5em; /*24px*/
	margin-top: 5.20833%; /*50px/960px*/	
}
h4 {
	font-size: 1em; /*16px*/
}
p {
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
}
ul {
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
}
li {
	font-size: 1em; /*16px*/
	text-align: center;
	width: 16.66666%;/*160px/960px*/	
	margin: 0 auto;
	background: #0CA0DE;
    float:left;
	border:groove;
}
#space {
	margin-top: 20.83333%; /*200px/960px*/	
}
table {
	   width: 62.5%; /*600px/960px*/
	   font-size: 1em; /*16px*/
	   text-align: center;
	   background: #0CA0DE;
	   -moz-box-shadow: 5px 5px 5px #FFF;
	   -webkit-box-shadow: 5px 5px 5px #FFF;
	   box-shadow: 5px 5px 5px #FFF;
	   margin-left:auto;
       margin-right:auto;	   
}
td { 
    border: 1px solid #000;
	background-color: #1AB263;
	padding: 0.3em;
}
th { 
    border: 1px solid #000;
	padding: 0.3em;
}
form {
	   width: 62.5%; /*600px/960px*/
	   background: #7A4D24;
	   margin-top: 10.41666%; /*100px/960px*/
	   margin-left:auto;
       margin-right:auto;		   
}
label {
	color: #0CA0DE;
	text-align: center;
}
input {
	background: #19B263;
}
textarea {
	background: #19B263;
	border: 1px solid #000;
}
#pictures {
	      background:#FFF;	 
		  height: auto;
		  width: 20.83333%; /*200px/960px*/		
}
#logo {
	  width: 8.33333%; /*80px/960px*/	
}
img {
	         max-width: 100%;
}

#taxis {
	    border:5px solid  #FFF;
		text-shadow: 3px 3px #000;
		width: 31.25%; /*299px/960px*/
}	
a:link {
		color: #000;
		text-align: center;
		text-decoration: none;
		text-align: center;
		opacity: 0.4;
}
a:visited {
			color: #000;
}
a:hover {
			color: #FFF;
			opacity: 1.0;           
}
a:active {
			color: #FFF;		
}
footer {
		text-align:center;
		color: #0CA0DE;
}

	
	
	
	/*=Media Queries
==========================================================================================*/
   /*Table Portrait size to standard 960 (devices and browsers)*/
    @media screen and (min-width:768px) and (max-width:959px){
    #wrapper { background-color: #806C55;}
	 p.test { font-family: Tahoma, Geneva, sans-serif;}
	 body { background-image: url(../images/taxi%20backgroungcolor1.jpg);  }
	}
	
    /*Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
	@media screen and (min-width: 480px) and (max-width:767px) {	
    #wrapper { background-color: #6D5B45}
	body { background-image:url(../images/taxi%20backgroungcolor2.jpg);}
	.content { float: left;}
  }
   
     /*Mobile Portrait Size to TMobile Landscape Size (devices and browsers)*/
	 @media only screen and (max-width:479px){
    #wrapper { background-color: #5B4A36;}
	body { background-image: url(../images/taxibackgroung.3jpg.jpg);}
	.social_icons { display: none;}
	 list { float: none;}
	}

	
	
     