body {
	font-family: Tahoma, Geneva, sans-serif;
	max-width: 960px;
	margin: 36px auto;
	background-color: #000;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 16px;
}
#wrapper {
	text-align: left;
	width: 100%; /*960px*/
	margin: 0 auto;
}
h1 {
	color: #0CA0DE;
	font-family: Georgia;
	font-style: oblique;
	text-align: center;
	font-size: 36px;
	text-shadow: 1px 1px #FFFFFF;
	}
h2 {
	text-align: center;
	color: #1AB263;
	font-size: 24px;
}
p {
	color: #FFF;
	text-align: center;
	text-shadow: 3px 3px #000;
}
ul {
	width: 960px;
	margin: 0 auto;
	list-style-type: none;
	
}
li {
	font-size: large;
	text-align: center;
	width: 180px;
	margin: 0 auto;
	background: #0CA0DE;
    float:left;
	border:groove;
}
#space {
	top-margin: 25px;
}
table {
	   width: 450px;
	   align: center;
	   background: #0CA0DE;
	   -moz-box-shadow: 5px 5px 5px #FFF;
	   -webkit-box-shadow: 5px 5px 5px #FFF;
	   box-shadow: 5px 5px 5px #FFF;	   
}
#pictures {
	      background:#FFF;
		  -moz-box-shadow: 5px 5px 5px #FFF;
	      -webkit-box-shadow: 5px 5px 5px #FFF;
	      box-shadow: 5px 5px 5px #FFF;
		  width:900px;
		  float:left;
		  width:auto
}	
a:link {
		color: #000;
		text-align: center;
		text-decoration: none;
		text-align: center;
		opacity:  1px 1px #FFFFFF;
}
a:visited {
			color: #000;
}
a:hover {
			color: #FFF;
}
a:active {
			color: #FFF;
		
}
footer {
		text-align:center;
		color: #0CA0DE;
}
img {
	border:dashed;
	}